:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Text colors */
  --primery-text-cl: #757575;
  --secondary-text-cl: #212121;
  --accent-text-cl: #2196f3;
  --special-text-cl: #ffffff;
  --secondary-logo-cl: #000000;
  --secondary-text-address-cl: rgba(255, 255, 255, 0.6);
  --placeholder-tetx-cl: rgba(117, 117, 117, 0.5);

  /* Bg colors */
  --primery-bg-cl: #ffffff;
  --secondary-bg-cl: #2f303a;
  --portfolio-bg-cl: #eeeeee;
  --special-bg-cl: #f5f4fa;
  --overlay-bg-cl: rgba(33, 150, 243, 0.9);
  --accent-bg-cl: #2196f3;
  --hero-bg-color: #c4c4c4;
  --gradient-bg-color: rgba(47, 48, 58, 0.4);
  --footer-bg-icon: rgba(255, 255, 255, 0.1);
  --work-description-bg-cl: rgba(47, 48, 58, 0.8);
  --backdrop-bg-cl: rgba(0, 0, 0, 0.2);

  /* Buttons colors */
  --primery-btn-text-cl: #ffffff;
  --secondary-btn-text-cl: #212121;
  --btn-bg-active-cl: #188ce8;
  --special-btn-bg-cl: #f5f4fa;
  --btn-box-shadow-cl: rgba(0, 0, 0, 0.15);
  --close-btn-border-cl: rgba(0, 0, 0, 0.1);

  /* Others */
  --accent-cl: #2196f3;
  --primery-white-cl: #ffffff;
  --portfolio-main-cl: #eeeeee;
  --border-icon-cl: #afb1b8;
  --border-header-cl: #ececec;
  --form-fild-border-cl: rgba(33, 33, 33, 0.2);
  --subscription-border-cl: rgba(255, 255, 255, 0.3);
  --timing-funk: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primery-bg-cl);
  color: var(--primery-text-cl);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

/* Інформація по секціям загальна */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  border-radius: 4px;
  border: transparent;

  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

.btn-big {
  min-width: 200px;
  min-height: 50px;

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primery-btn-text-cl);
  background-color: var(--accent-bg-cl);

  transition: border-color 250ms var(--timing-funk),
    box-shadow 250ms var(--timing-funk);
}

.btn-big:hover,
.btn-big:focus {
  background-color: var(--btn-bg-active-cl);
  box-shadow: 0px 4px 4px var(--btn-box-shadow-cl);
}

.btn-small {
  min-width: 73px;
  padding: 6px 22px;

  color: var(--secondary-btn-text-cl);
  background-color: var(--special-btn-bg-cl);
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition: color 250ms var(--timing-funk),
    background-color 250ms var(--timing-funk),
    box-shadow 250ms var(--timing-funk);
}

.btn-small:hover,
.btn-smallx:focus {
  color: var(--primery-btn-text-cl);
  background-color: var(--accent-bg-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primery-btn-text-cl);
  border: 1px solid var(--close-btn-border-cl);
  cursor: pointer;

  transition: fill 250ms var(--timing-funk);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-cl);
}

.features--visually-hidden,
.portfolio__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features__title,
.work__title,
.team__title,
.portfolio__title,
.partners__title,
.features__accent,
.members__name,
.sample__name,
.modal__title {
  color: var(--secondary-text-cl);
}

.features__title,
.work__title,
.team__title,
.portfolio__title,
.partners__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Логотип */

.logo {
  color: var(--accent-text-cl);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__secondary-cl {
  color: var(--secondary-logo-cl);
}

/* Шапка сайту */

.header {
  border-bottom: 1px solid var(--border-header-cl);
}

.header__logo {
  display: flex;
}

.header__container,
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  gap: 93px;
}

.header__menu,
.header__contacts {
  display: flex;
  gap: 50px;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-funk);
}

.header__link--current {
  position: relative;
  color: var(--accent-text-cl);
}

.header__link--current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;

  background: var(--accent-bg-cl);
  border-radius: 2px;
}

.header__mail,
.header__tel {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  fill: var(--primery-text-cl);
  color: var(--primery-text-cl);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-funk), fill 250ms var(--timing-funk);
}

.header__link:hover,
.header__link:focus,
.header__mail:hover,
.header__mail:focus,
.header__tel:hover,
.header__tel:focus {
  color: var(--accent-text-cl);
  fill: var(--accent-cl);
}

/* Герой */

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to top,
      var(--gradient-bg-color),
      var(--gradient-bg-color)
    ),
    url(../images/main-page/hero-bg-img.jpg);
  background-color: var(--hero-bg-color);

  text-align: center;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto 30px;

  color: var(--special-text-cl);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  padding: 10px 32px;
}

/* Секція особливості */

.features__list {
  display: flex;
  gap: 30px;
}

.features__icon-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--special-bg-cl);
}

.features__accent {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

/* Чим ми замаємось */

.work {
  padding-top: 0;
}

.work__title {
  margin-bottom: 50px;
}

.work__list {
  display: flex;
}

.work__item {
  flex-basis: 370px;
  margin-right: 30px;
  position: relative;
}

.work__item:nth-child(3n) {
  margin-right: 0;
}

.work__description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  width: 100%;
  height: 70px;
  bottom: 0;

  color: var(--special-text-cl);
  background: var(--work-description-bg-cl);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
}

/* Наша команда */

.team {
  background-color: var(--special-bg-cl);
}

.team__title {
  margin-bottom: 50px;
}

.members {
  display: flex;
}

.members__item {
  margin-right: 30px;

  background-color: var(--primery-bg-cl);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.members__item:last-child {
  margin-right: 0;
}

.members__foto {
  flex-basis: 270px;
}

.members__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.members__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.members__position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Соціальні мережі членів команди */

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primery-bg-cl);
  fill: var(--border-icon-cl);
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms var(--timing-funk),
    background-color 250ms var(--timing-funk);
}

.socials__link:hover,
.socials__link:focus {
  fill: var(--primery-white-cl);
  background-color: var(--accent-bg-cl);
}

/* Наші партнери */

.partners__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.partners__item {
  width: 170px;
  height: 92px;
}

.partners__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  fill: var(--border-icon-cl);
  border: 1px solid var(--border-icon-cl);
  border-radius: 4px;
  cursor: pointer;

  transition: fill 250ms var(--timing-funk),
    border-color 250ms var(--timing-funk);
}

.partners__link:hover,
.partners__link:focus {
  fill: var(--accent-cl);
  border: 1px solid var(--accent-cl);
}

/* Портфоліо */

.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

/* Портфоліо робіт */

.sample {
  display: flex;
  flex-wrap: wrap;
}

.sample__item {
  flex-basis: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.sample__item:nth-child(3n) {
  margin-right: 0;
}

.sample__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.sample__link {
  display: block;
  background-color: var(--portfolio-bg-cl);
  text-decoration: none;
}

.sample__link:hover,
.sample__link:focus,
.sample__link:hover .sample-overlay__box,
.sample__link:focus .sample-overlay__box {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
  transition: transform 250ms var(--timing-funk);
}

.sample-overlay {
  position: relative;
  overflow: hidden;
}

.sample-overlay__box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  transform: translateY(101%);
  transition: transform 250ms var(--timing-funk);
}

.sample-overlay__text {
  margin-bottom: 0;
  padding: 63px 24px;

  color: var(--special-text-cl);
  background-color: var(--overlay-bg-cl);

  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
}

.sample__content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 20px;

  border-right: 1px solid var(--portfolio-main-cl);
  border-bottom: 1px solid var(--portfolio-main-cl);
  border-left: 1px solid var(--portfolio-main-cl);

  background-color: var(--primery-bg-cl);
}

.sample__name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.sample__type {
  margin-bottom: 0;

  color: var(--primery-text-cl);
  font-size: 16px;
  line-height: 1.88;
}

/* Підвал */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-cl);
}

.footer__container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.logo__secondary-cl--inverse {
  color: var(--special-text-cl);
}

.address__link {
  color: var(--secondary-text-address-cl);
}

.address__link--light-cl {
  color: var(--special-text-cl);
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-cl);
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  transition: color 250ms var(--timing-funk);
}

/* Соціальні мережі компанії */

.footer__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  color: var(--special-text-cl);
  text-transform: uppercase;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socials__link--dark {
  fill: var(--primery-white-cl);
  background-color: var(--footer-bg-icon);

  transition: background-color 250ms var(--timing-funk);
}

.socials__link--dark:hover,
.socials__link--dark:focus {
  background-color: var(--accent-bg-cl);
}

/* Форма підписки  */

.subscription {
  margin-left: auto;
}

.subscription__item {
  display: flex;
  gap: 12px;
}

.subscription__box {
  padding: 15px 16px;
  width: 358px;
  border: 1px solid var(--subscription-border-cl);
  filter: drop-shadow(0px 4px 4px var(--btn-box-shadow-cl));
  background-color: var(--secondary-bg-cl);
  border-radius: 4px;
  color: var(--special-text-cl);
  letter-spacing: 0.03em;
}

.subscription__btn {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 28px;

  fill: var(--primery-white-cl);
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--backdrop-bg-cl);
  opacity: 1;
  transition: opacity 250ms var(--timing-funk),
    visibility 250ms var(--timing-funk);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 581px;
  padding: 40px;

  background-color: var(--primery-bg-cl);
  border: 1px solid var(--close-btn-border-cl);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Модальні питання */

.form-field {
  margin-bottom: 20px;
}

.form-field__item {
  margin-bottom: 10px;
}

.form-field__item:last-child {
  margin-bottom: 0;
}

.form-field__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
}

.form-field__input {
  height: 40px;
  width: 100%;
  padding: 0 12px 0 42px;

  border: 1px solid var(--form-fild-border-cl);
  border-radius: 4px;

  outline: none;
  cursor: pointer;

  transition: border-color 250ms var(--timing-funk);
}

.form-field__input:focus,
.form-field__input:hover,
.form-field__textarea:focus,
.form-field__textarea:hover {
  border-color: var(--accent-bg-cl);
}

.form-field__input:focus + .form-field__icon,
.form-field__input:hover + .form-field__icon {
  fill: var(--accent-cl);
}

.form-field__textarea {
  display: block;
  resize: none;

  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid var(--form-fild-border-cl);
  border-radius: 4px;

  outline: none;
  cursor: pointer;
}

.form-field__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;

  color: var(--placeholder-tetx-cl);
}

.form-field__content {
  position: relative;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms var(--timing-funk);
}

.form-field__checkbox {
  margin-bottom: 30px;
}

.checkbox {
  display: flex;
}

.checkbox__input {
  appearance: none;
}

.checkbox__icon {
  position: absolute;
  margin: 5px 7px 4px 13px;
  border: 2px solid var(--secondary-text-cl);
  border-radius: 2px;
  fill: transparent;

  transition: fill 250ms var(--timing-funk),
    background-color 250ms var(--timing-funk),
    border-color 250ms var(--timing-funk);
}

.checkbox__input:checked + .checkbox__icon {
  fill: var(--primery-white-cl);
  background-color: var(--accent-bg-cl);
  border-color: var(--accent-cl);
}

.checkbox__description {
  position: relative;
  padding-left: 36px;
  margin-right: auto;

  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}

.checkbox__policy {
  color: var(--accent-text-cl);
}

.form-field__btn {
  display: block;
  padding: 10px 52px;
  margin: 0 auto;
}
